@font-face {
  font-family: Nunito;
  src: url(./font/Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: Alata;
  src: url(./font/Alata/Alata-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./font/Poppins/Poppins-Light.ttf);
}
* {
  font-family: Poppins;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 136, 136);
}

.content::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
.content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}
#Next::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}
#Next::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::placeholder {
  color: black;
  font-weight: bold;
}

#home {
  background: url("./Images/bg1.png");
  background-size: 100% 100%;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  position: relative;
  transition: 0.9s;
}

@media (min-width: 0px) {
  #home {
    background-attachment: fixed;
  }
}

#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  padding: 3px !important;
}

.PhoneInputInput{
  outline: none;
  padding: 5px 5px;
  margin: 5px 5px;
  border: none;
}
#hometabs .nav-tabs .active {
  background-color: #4627cf;
}
#hometabs .nav-tabs {
  height: 107px;
  background-color: rgba(0, 0, 0, 0.7);
  width: fit-content;
  border-bottom: none !important;
}

#hometabs .nav-tabs a {
  margin: 10px;
  text-align: center;
  min-width: 100px;
  font-size: 12px;
  height: 87px;
  border-radius: 20px;
}
/* .nav-tabs{
  overflow-x: scroll;
} */

#home .nav-tabs a:hover {
  background-color: #6141ee;
  background-color: #6141ee8c;
  transition: 0.5s;
}
#home .tab-content li {
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}

.homebtn .btn {
  background-color: #4627cf;
}
.btn:hover {
  background-color: #6141ee;
  transition: 0.5s;
}
#Next li {
  font-size: 14px;
  padding-left: 30px;
}
.time .btn {
  border-width: 2px;
  border-radius: 20px;
  padding: 10;
  border-color: white;
  font-weight: bold;
  background-color: white;
  color: black;
  font-size: 14px;
}
/* .time .btn:hover {
  background-color: rgba(255, 255, 255, 0.808);
  border-color: rgba(255, 255, 255, 0.705);
  transition: 0.5s;
  font-weight: bold;
  color: black;
} */

.footer li {
  font-size: 14px;
  cursor: pointer;
  padding-top: 5px;
  color: #ffffffb5;
}
.footer li:hover {
  color: #ffc107;
}

.fa-bars {
  padding: 7px 9px;
}
.fa-bars:hover {
  background-color: rgba(150, 149, 149, 0.363);
  padding: 7px 9px;
  transition: 0.5s;
  border-radius: 50px;
}
.socials img {
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}
.socials img:hover {
  transform: rotate(360deg);
}

.backtotop {
  position: fixed;
  float: right;
  z-index: 1;
  top: 92%;
}

.back {
  height: 40px;
  width: 40px;
  background-color: #4627cf;
  color: black;
  transition: transform 0.7s ease-in-out;
}
.back:hover {
  transform: rotate(360deg);
  background-color: #6141ee;
}
.react-multiple-carousel__arrow {
  background-color: #fff !important;
  height: 104px;
  border-radius: 3px !important;
  color: black !important;
  box-shadow: 0px 0px 5px 1px #80808082;
  outline: none !important;
  z-index: 0 !important;
}
.react-multiple-carousel__arrow::before {
  color: black !important;
  font-weight: bolder;
  padding-inline: 12px;
}
.react-multiple-carousel__arrow:hover {
  box-shadow: 0px 0px 11px 2px #80808069;
}
.react-multiple-carousel__arrow--left {
  left: -1px !important;
}
.react-multiple-carousel__arrow--right {
  right: -1px !important;
}

/* ------------home------------ */
.appliance img {
  position: relative;
  top: 0;
  border-radius: 20px;
  z-index: -1;
  box-shadow: 2px 2px 4px 0px #805d5d9e;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.appliance:hover img {
  top: -10px;
}

.appliance::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
}

.counter .btn:hover {
  background-color: transparent;
  border-radius: 50px;
}
@media (max-width: 600px) {
  .nav-tabs {
    border-radius: 0 !important;
  }
  .react-multiple-carousel__arrow {
    border-radius: 35px !important;
    z-index: 1000 !important;
    height: auto;
    color: white !important;
    background: rgba(131, 130, 130, 0.5) !important;
    cursor: pointer !important;
  }
  #copyrightOrg{
    display: none;
  }
  #copyright{
    display: block !important;
  }
}
@media (max-width: 1000px) {
  .rounded-pill{
    margin-top: 40px !important;
  }
}

#paymentMethod .nav-tabs .active {
  background-color: black;
  color: white;
}
#paymentMethod .btn {
  background-color: white;
}
#paymentMethod .btn:hover {
  background-color: black;
  color: white;
}

.Mui-selected{
  outline: none !important;
}
.MuiTabScrollButton-root{
  color: white !important;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0px 24px !important;
}
.css-i4bv87-MuiSvgIcon-root{
font-size: 2.0rem !important;
}